---
name: Java CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 #sonar is happier with this

      - name: Cache Maven local repository
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: snapshot-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            snapshot-maven-

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven

      - name: Build with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn --batch-mode --update-snapshots verify
